.mobile-menu {
	display: none;
}

.menusession ul {
}

.menusession li {
}

.mobile-menu ul:hover ß{
  cursor: pointer;
}

.mobile-menu-dropdown-child {
    display: none;
    position: absolute;
    background-color: red;
    width: 100%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
	.mobile-menu {
		display: block;
	}
}