.logo {
	margin-left: 2rem;
	margin-right: 2rem;
}

.logo:hover {
	cursor: pointer;
}

.logo > h1 {
	font-size: 3rem;
	font-family: "acme";
	 
}
.logo > h1 > span:first-child {
	color: var(--primary-color);
	font-family: "acme";
}

.logo > h1 > span:last-child {
	color: var(--dark);
	font-family: "acme";
	font-weight: bolder;
}