.menusession {
	z-index: 2;
	background-color: red;
	top: 5rem;
	position: absolute;
	right: 0em;
}

.menusession ul {
	list-style-type: none;
}

.menusession li {
	padding: 1rem;
	background-color: aliceblue;
    border: .1rem red solid;
}

.menusession ul:hover {
cursor: pointer;
}